
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

*,
*:after,
*:before {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
  }
.title1 {
	font-family: "Lato", sans-serif;
  }
  
  .sidenav {
	height: 100%;
	width: 20%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	border-radius: 8px;
	box-shadow: 0 15px 30px 0 rgba(0,0,0, 0.1);
	background-color: #fff;
	overflow-x: hidden;
	padding-top: 20px;
  }
  
  .sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #313033;
	display: block;
  }
  
  .sidenav a:hover {
	color: #913e94;
	text-decoration: none;
  }
  .main2 {
	margin-left: 20%;;/* Same as the width of the sidenav */
	font-size: 28px; 
	padding: 0px 10px;
	padding-top: 50px;
	
  }
  
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }
  

  
  .topnav {
	overflow: hidden;
	position:sticky;
	border-radius: 8px;
	box-shadow: 0 15px 30px 0 rgba(0,0,0, 0.1);
	background-color: #fff;
  }
  .dropdown-toggle:hover { color:#913e94 !important;
	cursor:pointer }
  .topnav a {
	float:left;
	display: block;
	font-size: 22px;
	color: #313033;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  .topnav a:hover {
	color: #913e94;
	text-decoration: none;
  }
  
  .topnav a.active {
	background-color: #913e94;
	color: white;
  }
  
  .topnav .icon {
	display: none;
  }
  
@media screen and (max-width: 600px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
	  float: right;
	  display: block;
	}
  }
  
@media screen and (max-width: 600px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}
}


.main {
	margin-top: 3rem;
}

.widget {
	width: 100%;
	max-width: 600px;
	border-radius: 8px;
	box-shadow: 0 15px 30px 0 rgba(0,0,0, 0.1);
	background-color: #fff;
	padding: 2.5rem;
	display: inline-block;
	margin-bottom: 2rem;
	font-size: 1.125rem;
}

.widget > * + * {
	margin-top: 1.25em;
}

.widget h2 {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.25;
}

.widget code {
	display: inline-block;
	padding: 0.125em 0.25em;
	border-radius: 2px;
	background-color: #bee5d3;
}

.widget strong {
	font-weight: 700;
}
.cards {

	display: grid;
	
	grid-template-columns: repeat(2, 1fr);
	
	grid-auto-rows: auto;
	
	grid-gap: 1rem;
	
	}
	
	
	
	.card {
	border-radius: 8px;
	box-shadow: 0 15px 30px 0 rgba(0,0,0, 0.1);
	background-color: #fff;
	font-size: 1.125rem;
	padding: 2.5rem;
	margin-bottom: 2rem;
	position: relative;
	}
	.card .list:hover{
		color: #913e94;
	}
	.card > img {
		height: 200px;
		width: 100%;
		object-fit: cover;
	  }
	  
	  .card h2 {
		font-size: 24px;
		font-weight: bold;
		margin: 0;
	  }
	  
	  .card p {
		font-size: 16px;
		opacity: .7;
		margin: 0;
	  }
	
	
	.card-link {
		text-decoration: none;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
	  }
	.my-form-field{
		border-color: black;
		transition: border-color 0.3s ;
	}
	.my-form-field:hover{
		border-color: #913e94 !important;
	}
	.my-form-field:focus{
		border-color: #913e94 !important;
		box-shadow: 0 0 7px #913e94 !important;
	}
	  /* 
    Body, button, comment-thread, and utilities

    Notes:
        - This section sets some basic styles. You can ignore this part and 
        go directly to the comment styles.
*/

* {
    box-sizing: border-box;
}

button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 14px;
    padding: 4px 8px;
    color: rgba(0, 0, 0, 0.85);
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
button:hover,
button:focus,
button:active {
    cursor: pointer;
    background-color: #ecf0f1;
}
.comment-thread {
    width: 700px;
    max-width: 100%;
    padding: 0 30px;
    background-color: #fff;
    border: 1px solid transparent; /* Removes margin collapse */
}
.m-0 {
    margin: 0;
}
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Comment */

.comment {
	box-shadow: 0 15px 30px 0 rgba(0,0,0, 0.1);
    position: relative;
    margin: 20px auto;
}
.comment-heading {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 14px;
}
.comment-voting {
    width: 20px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.comment-voting button {
    display: block;
    width: 100%;
    height: 50%;
    padding: 0;
    border: 0;
    font-size: 10px;
}
.comment-info {
    color: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}
.comment-author {
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
    text-decoration: none;
}
.comment-author:hover {
    text-decoration: underline;
}
.replies {
    margin-left: 20px;
}

/* Adjustments for the comment border links */
.tabs-container{
	text-align:center;
}
.comment-border-link {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    width: 12px;
    height: calc(100% - 50px);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    background-color: rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
}
.comment-border-link:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
.comment-body {
    padding: 0 20px;
    padding-left: 28px;
}
.replies {
    margin-left: 28px;
}
.costum-tabs{
	display: flex;
	justify-content: center;
}
.costum-tab{
	background-color:#fff !important;
	border-color: #fff;
	

}
.costum-tab:focus{
	color: #913e94 !important;
	border-color: #913e94 !important;
}
