
{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap_icons %}
{% block content %}
<main class="main">

    <div class="jumbotron text-center">
        <h1> <b>Trivo:</b> find friends to travel</h1>
         <p>welcome to our demo website 
            where u can share your trips and reviews 
            also you can plan trips and invite people to go </p>
        </div>
        <button type="button" class="btn" style="position: fixed;z-index: 1;background-color: #7A77B9;" data-toggle="modal" data-target="#exampleModal">
            Add post 
          </button>
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title" id="exampleModalLabel" style="color: #913e94;">Show the world where u were </h2>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img src="" id="image-preview" style="height: 200px;width: 450px;">
                    <form  method="POST" enctype="multipart/form-data" id="myForm">
                        {% csrf_token %}
                        {{form | crispy }}
                        
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <input type="submit" value="submit" class="btn" style="width: 100px;background-color:#913e94 ;">
                </form>
                </div>
              </div>
            </div>
          </div>
    <div class="cards">
{% for i in post %}
        <article class="card">
            <div>
            {% if i.author2.username == user.username %}
            <div class="dropdown float-right">
                <a class="list" role="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                   {% bs_icon 'three-dots' %} 
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                    <a class="dropdown-item" href="{% url 'pst-update' i.id %}">edit {% bs_icon 'pencil-square' %} </a>
                    <a class="dropdown-item" href="{% url 'delete_post' i.id %}">delete {% bs_icon 'trash' %}</a>
                </div>
              </div>
            {% endif %}
            <h2><a href="{% url 'profile' i.author2.id %}" style="text-decoration: none;color: #7A77B9;">{{i.author2.username}}</a></h2>
            </div>
            <p>{{i.published_time}}</p>
            <img src="{{ i.img.url }}" width="100%" >
            <strong>{{i.text}}</strong>
            <div class="container" style="width: 30%;margin-left: 0%;">
                <div class="row">
                  <div class="col-sm">
                    <form action="{% url 'like_page' i.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit" value="{{i.id}}" name='post_id' style="color: #7A77B9;border-width: 0px;">{% bs_icon 'heart' %}</button>
                    </form>
                  </div>
                  <div class="col-sm">
                    <a href="{% url 'post_page' i.id %}" style="text-decoration: none;color: #7A77B9;">{% bs_icon 'chat' %}</a>
                  </div>
                </div>
                <div class="row">
                    {% if i.likes.all %}
                    <div class="col-sm">
                        <p>{{i.likes.all.count}} Likes</p>
                    </div>
                    {% endif %}
                    {% if i.comments.all %}
                    <div class="col-sm">
                        <p>{{i.comments.all.count}} Comments</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </article>
{% endfor %}
    
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#id_img').on('change', function() {
            var input = this;
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#image-preview').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        });
    
        
    });
    </script>
</main>
{% endblock %}