{% extends 'index.html' %}
{% load static %}
{% load bootstrap_icons %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="card">
        <div>
        <div class="dropdown float-right">
            <a class="list" role="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
               {% bs_icon 'three-dots' %} 
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                <a class="dropdown-item" href="">edit {% bs_icon 'pencil-square' %} </a>
                <a class="dropdown-item" href="{% url 'delete_plan' plan.id %}">delete {% bs_icon 'trash' %}</a>
            </div>
        </div>
        <h1 style="color: #913e94;">{{plan.Title}}</h1>
        </div>
        <p>Date: {{plan.date}}</p>
        <strong>Descreption:</strong><p>{{plan.Descreption}}</p>
        <br>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" ></li>
                    {% for day in plan.days.all %}
                        {% if not day.num == 1 %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{day.n}}"></li>
                        {% endif %}
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                  {% for day in plan.days.all %}
                  {% if day.num == 1 %}
                  <div class="carousel-item active">
                    <div class="card" style="background-color: #ebe8e7;padding-top: 2px;">
                        <h2>Day {{day.num}}:</h2>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                            <strong>Description:</strong><p>{{day.description}}</p>
                        </div>
                        <div class="col-sm">
                            <strong style="color: #f2c76e;">Morning activities:</strong>
                            <p>{{day.morning}}</p>
                        </div>
                        <div class="col-sm">
                            <strong style="color: #7a77b9;">Midlle day activities:</strong>
                            <p>{{day.middle_day}}</p>
                        </div>
                        <div class="col-sm">
                            <strong style="color: #ea7186;">Night activities:</strong>
                            <p>{{day.night}}</p>
                        </div>
                        </div>
                        </div>
                  </div>
                  {% else %}
                  <div class="carousel-item">
                    <div class="card" style="background-color: #ebe8e7;padding-top: 2px;">
                        <h2 style="color: #913e94;">Day {{day.num}}:</h2>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                            <strong style="color:#913e94">Description:</strong><p>{{day.description}}</p>
                        </div>
                        <div class="col-sm">
                            <strong style="color:#f2c76e">Morning activities:</strong>
                            <p>{{day.morning}}</p>
                        </div>
                        <div class="col-sm">
                            <strong style="color: #7a77b9;">Midlle day activities:</strong>
                            <p>{{day.middle_day}}</p>
                        </div>
                        <div class="col-sm">
                            <strong style="color: #ea7186;">Night activities:</strong>
                            <p>{{day.night}}</p>
                        </div>
                        </div>
                    </div>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
                <a class="carousel-control-prev" style="color:black;" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" style="color:#111;" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </div>
    <div class="card" >
        <h1 style="color: #913e94;">Your day schedule:</h1>
        <form action="{% url 'tripplanner' plan.id %}" method="post">
            {% csrf_token %}
            {{form }}
            <input type="submit" value="add new day">
        </form>

    </div>




</div>
{% endblock %}